<form action="/books/add-book" method="post">
  <label for="">Title:</label>
  <input type="text" name="title">

  <label for="">Author:</label>
  <select name="author">
    <option value="">select an author</option>
    {{#each authors}}
    <option value="{{_id}}">{{name}} {{lastName}}</option>
    {{/each}}
  </select>

  <label for="">Description:</label>
  <input type=" text" name="description">

  <label for="">Rate:</label>
  <input type="number" name="rating">

  <button type="submit">ADD</button>
</form>