<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <ul>
    {{#if user}}
    <li><a href="/books">books</a></li>
    <li><a href="/books/add-book">add book</a></li>
    <li><a href="/logout">logout</a></li>
    <p>hey {{user.username}}</p>
    {{else}}
    <li><a href="/login">login</a></li>
    <li><a href="/signup">sign up</a></li>
    {{/if}}
  </ul>

  {{{body}}}

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAw9PYE3NmyDJXTA9PI2W4bl5oZXAUaG-0">
  </script>
  <script src="/javascripts/script.js"></script>
</body>

</html>